<div class="navbar-spacer"></div>
  <nav class="navbar">
      <div class="container">
        <span class="navbar-logo">Texas (A)esthetician Circle</span>
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#intro">About</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#codeNavPopover">News</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#codeNavPopover">Resources</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#moreNavPopover">Contact</a>
          </li>
        </ul>
      </div>
  </nav>